<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethereum DApp Store and transfer Money v1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <a href="javascript:history.back()" class="back-button">← Back</a>
        <h2>Hi {{ r }}, How can I help you?</h2>

        <br>
        <form action="/viewDB" method="post">
            <input type="submit" value="View DataBase">
        </form>
        </br>

        <br>
        <form action="/delDB" method="post">
            <input type="submit" value="Delete DataBase">
        </form>
        </br>

        <br>
        <form action="/main" method="post">
            <input type="submit" value="Main">
        </form>
        </br>
    </div>
</body>

</html>